@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  /* overflow: hidden; */
}
body {
  background-color: #eeeeee;
  color: #333333;
  width: 300px;
  /* display: flexbox; */
}
body p{
  color: #eeeeee;
}
.container{
	position:relative;
	/* width:100%; */
  padding:10px;
}
.icon {
  font-size: 40px;
  margin: 0;
}
.mini-icon{
  font-size: 20px;
  margin: 0;
}

body.dark {
  background: #333333;
  color: #eeeeee;
}
body.dark p{
  color:#eeeeee;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.precip {
  display: none;
}
.weather{
	text-align:center;
}
.misc{
  align-items: center;
  height: auto;
  float:right;
  /* width:100%; */
}

h1, h2, h3, h4, h5 {
  margin:1% ;
  /* padding: 0; */
  text-align: center;
}



/* unit switcher */

.cels{
  display:default;
}

.fahr {
  display:none;
}



/* table css */

table, tbody {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-top: 10px;
  padding:0;
  vertical-align: top;
  display: 100%;
  align-items: center;
  overflow:hidden;

}
table{
  border: 1px solid black;

}
td {
  /* border: 1px solid black; */
  padding: 0;
  margin:0;

}
tr{
  text-align: center;
  padding:0;
  margin:0;
  width:10%;
}

/* css for nightmode button and nightmode icons */
.label {
  background-color: #444444;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
  float:right;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fas-sun {
  color: #f39c12;
}
.fas {
  color: orange;
}

.switch{

	padding:0;
	margin: 25px 25px 10px 10px;
  zoom: 0.60;
  -moz-transform: scale(0.60);
  z-index: 1;
  top:0;
  right:0;
  height:auto;
  width:auto;
  line-height: 30px;
  display:inline-block;
}
